#body{
    margin: 0px;
    border: 0px;
}
#header{
    width: 100%;
    height: 180px;
    background: radial-gradient(cyan,#ffd6d6);
    color: blue;
}
#sidebar{
    width: 300px;
    height: 400px;
    background: radial-gradient(cyan,#ffd6d6);
    float: left;
}
#data{
    height: 700px;
    background: radial-gradient(cyan,#ffd6d6);
}